html,
body {
    margin: auto;
    height: 100%;
    background-color: lightgray;
}

#header1 {
    position: fixed;
    margin: auto;
    width: 100%;
    height: 50px;
    overflow: visible;
    background-color: lightgray;
}

#header2 {
    position: fixed;
    margin: auto;
    width: 100%;
    height: 15px;
    overflow: visible;
    background-color: #9b9b9b;
    top: 50px;
}

#kart {
    position: absolute;
    margin: auto;
    width: 1020px;
    top: 500px;
    left: 3px;

}

/* #meny {
    font-family: cambria;
    font-size: 1.4em;
    color: white;
    position: fixed;
    right: 20px;
} */

#logo {
    position: fixed;
    width: 120px;
    left: 20px;
    overflow: visible;
    top: 10px;
}

#container1 {
    position: absolute;
    margin: auto;
    width: 1024px;
    height: 1500px;
    background-color: white;
    top: 90px;
    left: 430px;
    overflow: hidden;
    border: 2px solid #9b9b9b;

}

#linkS a:link, a:visited {
    position: absolute;
    left: 40px;
    top: 420px;
    font-family: century gothic;
    font-size: 1.2em;
    background-color: white;
    color: black;
    padding: 11px 100px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
    border: 2px solid #6d4695; 
}

a:hover, a:active {
    background-color: lightgray;

}

#text {
    position: absolute;
    font-family: cambria;
    font-size: 3em;
    left: 400px;
    top: 150px;
    color: white;
}

#logotekst1 {
    position: absolute;
    top: -19px;
    font-family: century gothic;
    left: 150px;
    color: #edc54d;
}

#logotekst2 {
    position: absolute;
    top: -19px;
    font-family: century gothic;
    left: 217px;
    color: #498687;
    
}

#logotekst3 {
    position: absolute;
    top: -19px;
    font-family: century gothic;
    left: 340px;
    color: #6d4695;
}


#overskrift {
    position: relative;
    font-family: century gothic;
    font-size: 3em;
    color: #6d4695;
    left: 40px;
    top: 190px;
    -webkit-animation-name: tekst;
    -webkit-animation-duration: 5s;
    -webkit-animation-delay: 0s;
    -webkit-animation-fill-mode: forwards;
}

#infotekst {
    position: relative;
    font-family: cambria;
    font-size: 1.5em;
    color: black;
    left: 40px;
    top: 170px;
    -webkit-animation-name: tekst;
    -webkit-animation-duration: 5s;
    -webkit-animation-delay: 0s;
    -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes tekst {
    0% {
        left: -700px;
    }
    100% {
        left: 40px;
    }
}

#kartInfo {
    position: absolute;
    right: 60px;
    top: 400px;
    font-family: century gothic;
    font-size: 1.2em;
}

#pil {
    position: relative;
    left: 1255px;
    width: 40px;
    top: 550px;
    -webkit-animation-name: pilAnim;
    -webkit-animation-duration: 2s;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-fill-mode: linear;
}

@keyframes pilAnim {
    0% {
        top: 550px;
    }
    50% {
        top: 530px;
    }
    100% {
        top: 550px;
    }
}


/* #footer {
    position: fixed;
    width: 100%;
    height: 200px;
    bottom: 0;
    background-color: #bfbfbf;
    opacity: 0.5;

} */
