body{
    background-color: #e6ffff;
    margin: auto;
}

#container {
    position: relative;
    margin: auto;
    width: 1024px;
    height: 750px;
    margin: auto;
    overflow: hidden; 
    background-color: #ffffff;
}

#container *{
    position: absolute;
}

label {
    left: 20px;
    width: 200px;
    text-align: left;
    padding-right: 3px;
    color: black;
    font-family: arial;
}
#bilde {
    opacity: 1;
    left: -100px;
    top: -130px;
    width: 1024px;
    height: 200px;
    background-color: deepskyblue;
}

#back {
    height: 600px;
    width: 824px;
    left: 100px;
    top: 260px;
    
    
}

#form {
    top: 100px;
    opacity: 1;
    left: 350px;
    
}

#color {
    top: 60px;
    height: 400px;
    width: 824px;
    background-color: #eff0f2;
    opacity: 1;
    
}

#backpic {
    height: 100%;
    width: 100%;
}

.button {
    font-family: arial;
    width: 400px;
    background-color: #bbb;
  padding: .5em;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 6px;
  color: #fff;
  font-family: 'Oswald';
  font-size: 20px;
  text-decoration: none;
  border: none;
}



.inputform {
    font-family: arial;
    height: 30px;
    width: 400px;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid #bbb;
    border-radius: 2px;
}
#upImage {
    text-align: right;
    opacity: 0;
    z-index: 2; 
    font-size: 37px;
}

#fake {
    width: 380px;
    text-align: center;
}


#blocker {
    left: 400px;
    height: 47px;
    width: 30000px;
    z-index: 3;
}

#logo {
    left: 20px;
    top: 150px;
    height: 220px;
}
