html, body{
    height: 100%;
    margin: auto;
}

#container {
    position: relative;
    margin: auto;
    width: 1024px;
    height: 1500px;
    margin: auto;
    overflow: hidden; 
    background-color: white;
}

#container *{
    position: absolute;
}

#OverskriftInfo {
    font-family: century gothic;
    font-size: 3em;
    position: absolute;
    text-align: center;
    width: 824px;
    top: 450px;
    color: black;
    
}

#Informasjon {
    font-family: century gothic;
    font-size: 1.2em;
    position: absolute;
    top: 530px;
    color: black;
    text-align: center;
    width: 824px;
}


label {
    left: 20px;
    width: 200px;
    text-align: left;
    padding-right: 3px;
    color: black;
    font-family: Century gothic;
}

#back {
    height: 600px;
    width: 824px;
    left: 100px;
    top: 260px;
}

#form {
    top: 650px;
    opacity: 1;
    left: 200px;
    
}

#color {
    position: absolute;
    top: 600px;
    height: 450px;
    width: 824px;
    background-color: #f1f5e8;
    opacity: 1;
}

#backpic {
    height: 100%;
    width: 100%;
}

.button {
  width: 400px;
  background-color: white;
  padding: .5em;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 6px;
  color: black;
  font-family: Century gothic;
  font-size: 20px;
  text-decoration: none;
  border: none;
}



.inputform {
    font-family: Century gothic;
    height: 30px;
    width: 400px;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid #bbb;
    border-radius: 2px;
}

#upImage {
    text-align: right;
    opacity: 0;
    z-index: 2; 
    font-size: 37px;
}

#fake {
    width: 380px;
    text-align: center;
}


#blocker {
    left: 400px;
    height: 47px;
    width: 30000px;
    z-index: 3;
}

#bilde {
    position: absolute;
    width: 1024px;
    top: 150px;
}

#splat {
    right: 130px;
    top: 450px;
}

#splat2 {
    right: 200px;
    top: 450px;
}

#bilde2 {
    position: absolute;
    width: 1024px;
    top: 150px;
    
}

#Informasjon2 {
    font-family: century gothic;
    font-size: 1.2em;
    position: absolute;
    top: 530px;
    color: black;
    text-align: center;
    width: 824px;

}

#Info3 {
    font-family: century gothic;
    font-size: 1em;
    position: absolute;
    top: 1050px;
    color: black;
    text-align: center;
    width: 824px;
    
}

#bilde4 {
    position: absolute;
    width: 1024px;
    top: 150px;
    
}



