html,
body {
    margin: auto;
    height: 100%;
}

#header1 {
    position: fixed;
    margin: auto;
    width: 100%;
    height: 90px;
    top: 0px;
    overflow: visible;
    background-color: #F1F5EB;
}

#logo {
    position: fixed;
    width: 200px;
    left: 45%;
    top: 15px;
}

#linker {
    position: absolute;
    left: 100px;
    top: 60px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    font-family: century gothic;
    display: inline;
    color: black;
    text-align: center;
    padding: 20px 150px;
    text-decoration: none;
}

#bilde1 {
    position: absolute;
    width: 1024px;
    
}

#container1 {
    position: absolute;
    margin: auto;
    width: 1024px;
    height: 450px;
    background-color: white;
    top: 150px;
    opacity: 0.9;
    overflow: hidden;
    height: 1000px;
}

#container2 {
    position: absolute;
    margin: auto;
    width: 1024px;
    height: 500px;
    top: 150px;;
    overflow: hidden;
}

#Intro {
    position: absolute;
    font-family: Century gothic;
    font-size: 5em;
    color: black;
    left: 300px;
    top: -50px;
    
}

#Info {
    position: absolute;
    font-family: Century gothic;
    font-size: 1.7em;
    color: black;
    width: 600px;
    left: 200px;
    top: 60px;
    text-align: center;
}

#container3 {
    position: relative;
    margin: auto;
    width: 1024px;
    overflow: visible;
}


/* #footer {
    position: fixed;
    width: 100%;
    height: 200px;
    bottom: 0;
    background-color: #bfbfbf;
    opacity: 0.5;

} */