html,
body {
    margin: auto;
    height: 100%;
}

#header1 {
    position: fixed;
    margin: auto;
    width: 100%;
    height: 100px;
    top: 0px;
    overflow: visible;
    background-color: lightgray;
}

#header2 {
    position: fixed;
    margin: auto;
    width: 100%;
    height: 30px;
    overflow: visible;
    background-color: #9b9b9b;
    top: 90px;
}

#linker a:link, a:visited {
    position: absolute;
    font-family: century gothic;
    font-size: 1.2em;
    color: white;
    position: absolute;
    top: 2.5px;
    left: 1100px;
    text-decoration: none;
    display: inline-block;
}

#test2:hover {
    color: #6d4695;

}

#forsbilde {
    position: absolute;
    width: 1900px;
    left: ;
    top: -350px;
}

#kart {
    position: absolute;
    margin: auto;
    width: 1900px;
    left: ;
    background-color: lightgray;
    opacity: 1;
}

#kuba {
    position: absolute;
    top: 700px;
    width: 100px;
    left: 360px;
    transition: all 1s linear;
}

#kuba:hover {
    width: 300px;
}

#kuba:hover~ #kubalink {
    opacity: 1;
}

#kubalink {
    position: absolute;
    top: 755px;
    left: 435px;
    font-family: century gothic;
    color: white;
    font-size: 1.3em;
    opacity: 0;
    transition: all 2s linear;
}

#vulkan {
    position: absolute;
    width: 80px; 
    top: 800px;
    left: 367px;
    transition: all 1s linear;
}

#vulkan:hover {
    width: 400px;
}

#brenneriveien {
    position: absolute;
    width: 80px;
    top: 1240px;
    left: 430px;
    transition: all 1s linear;
}

#brenneriveien:hover {
    width: 400px;
}

#fjerdingen {
    position: absolute;
    width: 80px;
    top: 1650px;
    left: 1050px;
    transition: all 1s linear;
} 

#fjerdingen:hover {
    width: 400px;
}

#logo {
    position: fixed;
    width: 120px;
    left: 450px;
    overflow: visible;
    top: 10px;
}

#container1 {
    position: absolute;
    margin: auto;
    width: 2000px;
    height: 450px;
    background-color: white;
    top: 100px;
    left: ;
    opacity: 0.9;
    overflow: hidden;
}

#container2 {
    position: absolute;
    margin: auto;
    width: 2000px;
    height: 500px;
    top: 100px;;
    left: ;
    overflow: hidden;
}

#container3 {
    position: relative;
    margin: auto;
    width: 2000px;
}

#linkS a:link, a:visited {
    position: absolute;
    left: 450px;
    top: 400px;
    font-family: century gothic;
    font-size: 1.1em;
    background-color: white;
    color: black;
    padding: 11px 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;

} 

#test:hover {
    color: white;
    background-color: lightgray;
}

#text {
    position: absolute;
    font-family: cambria;
    font-size: 3em;
    left: 400px;
    color: white;
}

#overskrift {
    position: relative;
    font-family: century gothic;
    font-size: 3em;
    color: #6d4695;
    left: 450px;
    top: 80px;

}

#infotekst {
    position: relative;
    font-family: cambria;
    font-size: 1.5em;
    color: black;
    left: 450px;
    top: 65px;
}


#kartInfo {
    position: absolute;
    left: 1615px;
    top: 360px;
    font-family: century gothic;
    font-size: 1.2em;
}

#pil {
    position: relative;
    left: 1700px;
    width: 40px;
    top: 550px;
    -webkit-animation-name: pilAnim;
    -webkit-animation-duration: 2s;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-fill-mode: linear;
} 

@keyframes pilAnim {
    0% {
        top: 550px;
    }
    50% {
        top: 520px;
    }
    100% {
        top: 550px;
    }
} 


/* #footer {
    position: fixed;
    width: 100%;
    height: 200px;
    bottom: 0;
    background-color: #bfbfbf;
    opacity: 0.5;

} */