html,
body {
    margin: auto;
    height: 100%;
}

#header1 {
    position: fixed;
    margin: auto;
    width: 100%;
    height: 90px;
    top: 0px;
    overflow: visible;
    background-color: #F1F5EB;
}

#logo {
    position: fixed;
    width: 200px;
    left: 45%;
    top: 15px;
}

#linker {
    display: flex;
    position: relative;
    width: 100%;
    left: 0px;
    top: 60px;
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
}

.linkerC {
    float: left;
    width: 25%;
}

.linkerC a {
    font-family: century gothic;
    display: inline;
    color: black;
    text-align: center;
    padding: 20px 150px;
    text-decoration: none;
}

.linkerC:hover a {
    color: #EBC8Ba;
}

#bilde1 {
    position: absolute;
    width: 1024px;
    
}

#container1 {
    position: absolute;
    margin: auto;
    width: 1024px;
    height: 450px;
    background-color: white;
    top: 150px;
    opacity: 0.9;
    overflow: hidden;
    height: 1000px;
}

#container2 {
    position: absolute;
    margin: auto;
    width: 1024px;
    height: 500px;
    top: 150px;;
    overflow: hidden;
    
}

#Info {
    position: absolute;
    font-family: Century gothic;
    font-size: 1.7em;
    color: black;
    width: 600px;
    left: 200px;
    top: 60px;
    text-align: center;
}

#Campus {
    position: absolute;
    width: 1024px;
    padding: 10px;
    display: inline;
    top: 700px;
    left: 140px;
    font-family: Century gothic;
}

#CF {
    padding: 20px;
    text-decoration: none;
    color: black;
}

#CF:hover, #CB:hover, #CV:hover {
    color: #EBC8Ba;
}

#CB {
    padding: 20px;
    text-decoration: none;
    color: black;
    
}

#CV {
    padding: 20px;
    text-decoration: none;
    color: black;
}

#container3 {
    position: relative;
    margin: auto;
    width: 1024px;
    overflow: visible;
}


/* #footer {
    position: fixed;
    width: 100%;
    height: 200px;
    bottom: 0;
    background-color: #bfbfbf;
    opacity: 0.5;

} */