body{
    background-color: lightgray;
    margin: auto;
}

#main-container {
    position: relative;
    margin: auto;
    width: 1024px;
    height: 2200px;
    background-color: white;
    overflow: hidden;
}

#header1 {
    position: fixed;
    margin: auto;
    width: 100%;
    height: 50px;
    top: 0px;
    overflow: visible;
    background-color: lightgray;
}

#header2 {
    position: fixed;
    margin: auto;
    width: 100%;
    height: 15px;
    overflow: visible;
    background-color: #9b9b9b;
    top: 50px;
}
#logo {
    position: fixed;
    width: 120px;
    left: 20px;
    overflow: visible;
    top: 10px;
}
#logotekst1 {
    position: absolute;
    top: -19px;
    font-family: century gothic;
    left: 150px;
    color: #edc54d;
}

#logotekst2 {
    position: absolute;
    top: -19px;
    font-family: century gothic;
    left: 217px;
    color: #498687;
}

#logotekst3 {
    position: absolute;
    top: -19px;
    font-family: century gothic;
    left: 340px;
    color: #6d4695;
}


/***                ***/
/***    header      ***/
/***                ***/
#img-header {
    position: absolute;
    width: 1024px;
    top: -50px;
    opacity: 0.8;
}

#txt-header {
    position: absolute;
    width: 1024px;
    top: 150px;
    font-family: arial;
    font-size: 3em;
    color: white;
    text-align: center;
    text-shadow: 2px 2px 4px black;
}

#stutor-content {
    position: absolute;
    width: 824px;
    height: 700px;
    left: 100px;
    top: 481px;
}

/***                    ***/
/***     klasser        ***/
/***                    ***/

.stutor-bokser {
    position: absolute;
    width: 250px;
    height: 275px;
    background-color: #ffff68;
    box-shadow: 10px 10px 5px #888888;
}

.img {
    position: absolute;
    width: 175px;
    left: 37.5px;
    top: 10px;
    border-radius: 125px;
}

.knapper {
    position: absolute;
    width: 200px;
    height: 20px;
    background-color: #494945;
    box-shadow: 2px 2px 2px #888888;
    opacity: 0.9;
    text-align: center;
    padding: 5px;
    left: 25px;
    bottom: 10px;
}

.profil-info {
    position: absolute;
    width: 250px;
    height: 275px;
    background-color: white;
    opacity: 0.9;
    visibility: hidden;
}

.stutor-bokser:hover .profil-info {
    visibility: visible;
}

span {
    font-family: arial;
    color: white;
}

h2 {
    position: absolute;
    font-family: arial;
    font-size: 1.2em;
    text-align: center;
    width: 250px;
    top: 175px;
}

q {
    position: absolute;
    font-size: 2em;
    text-align: center;
    top: 20px;
}



p {
    position: absolute;
    font-family: arial;
    font-size: 1em;
    text-align: center;
    width: 250px;
    top: 195px;
}


#stutor-boks1 {
    top: 0;
}

#stutor-boks2 {
    left: 287px;
}

#stutor-boks3 {
    right: 0;
}

#stutor-boks4 {
    top: 325px;
}

#stutor-boks5 {
    top: 325px;
    left: 287px;
}

#stutor-boks6 {
    top: 325px;
    right: 0;
}

#stutor-boks7 {
    top: 650px;
}

#stutor-boks8 {
    top: 650px;
    left: 287px;
}

#stutor-boks9 {
    top: 650px;
    right: 0;
}
