body {
    margin: auto;
    background-color: white;
    height: 2000px;
}
/*container hele siden*/
#container *{
    position: relative;
    font-size: 20px;
    font-style: century gothic;
    width: 1024px;
}
/*meny*/

#container{
    top: 100px;
    margin-top: 5px;
    margin-bottom: 15px;
    position: relative;
    margin: auto;
    /*height: 1300px; */
    width: 1024px;
    background-color: white;
    overflow:visible; 
}

/*Basic settings for all tekst*/
#tekst{
    font-family: century gothic;
    top: 750px;
    position: absolute; 
}
/*Overskrift på siden*/
#Overskrift{
    font-family: century gothic;
    position: relative;
    color: #000000;
    text-align: center;
    font-size: 70px;
}
/* Infortekst om skolen */
#skolen{
    
}
/*css for grønn container*/
#RegogSkole{
    position: relative;
    margin: auto;
    width: 1024px;
    height: 200px;
    background-color:#F1F5EB;
    
}
/*Alt inne i grønn container*/
#TilgjengeligStud{
    text-align: center;
    top: 50px;
    font-family: century gothic;
}

/*knapp for å registrer deg til smætch*/
/*#Registrer{
    background-color:#F1F5EB;
    width:100%;
    height: 180px;
    position: absolute;
    text-align: center;
}
*/
    
/*knapp til fjedinge*/    
#nesteF{
    color: #5A6960;
    background-color: #FFFFFF;
    padding: 14px 24px;
    text-align: center;
    text-decoration-line: none;
    /*display: inline-block; */
    left: 120px;
    top:300px;
    outline-style: solid;
    
}
/*Knapp til Vulkan*/
#nesteV{
    color: #5A6960;
    background-color: #FFFFFF;
    padding: 14px 24px;
    text-align: center;
    text-decoration-line: none;
    /*display: inline-block;*/
    left: 512px;
    top: 300px;
    outline-style: solid;
    
    
}
/*skolebilde*/
#Bbilde{
    position: absolute;
    height: 481px;
    width: 1024px;
    align-content: center;
}
